@model IEnumerable<HuongDanLamDep.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<h1>Từ khóa hot tìm kiếm</h1>

<p>
    <a asp-action="Create">Tạo từ khóa mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TagId">Sửa bài viết</a> |
                <a asp-action="Details" asp-route-id="@item.TagId">Thông tin bài viết</a> |

                <a asp-action="Delete" asp-route-id="@item.TagId">Xóa bài viết</a>
            </td>
        </tr>
}
    </tbody>
</table>
